@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monument";
  src: url("./fonts/MonumentExtended-Regular.ttf");
}

@font-face {
  font-family: "MonumentBold";
  src: url("./fonts/MonumentExtended-Ultrabold.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  color: #3b1408;
  background: #020c13;
}

@layer utilities {
  .monument {
    font-family: MonumentBold;
    font-weight: 900;
  }
  .hoverGradient {
    background: linear-gradient(236.96deg, #f55f29 13.69%, #fdc221 99.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .bigHeraderGradient {
    background: linear-gradient(
      236.96deg,
      #fdc221 13.69%,
      #f55f29 23.24%,
      #a916eb 48.27%,
      #590ffe 75.44%,
      #1dc6e8 101.05%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .gradentTexBottom {
    background: linear-gradient(
      236.96deg,
      #fdc221 13.69%,
      #f55f29 23.24%,
      #a916eb 48.27%,
      #590ffe 75.44%,
      #1dc6e8 101.05%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: MonumentBold;
  }
  .shadowBorder {
    font-family: MonumentBold;
  }

  .bigHeader {
    @apply text-[96.29px] leading-[122.5%] font-black text-white;
  }
  .heading {
    @apply text-[37px] leading-[48px] font-extrabold font-['MonumentBold'];
  }
  .gradientText {
    background: linear-gradient(236.96deg, #f55f29 13.69%, #fdc221 99.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .weKnowGradent {
    background: linear-gradient(236.96deg, #f55f29 13.69%, #fdc221 99.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
