@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monument";
  src: url("/assets/fonts/MonumentExtended-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "MonumentBold";
  src: url("/assets/fonts/MonumentExtended-Ultrabold.ttf");
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  color: #3b1408;
  background: #020c13;
}
button {
  font-family: Poppins, sans-serif;
}

@layer utilities {
  .monument {
    font-family: MonumentBold;
    font-weight: 900;
  }
  .hoverGradient {
    background: linear-gradient(236.96deg, #f55f29 13.69%, #fdc221 99.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .bigHeraderGradient {
    background: linear-gradient(
      236.96deg,
      #fdc221 13.69%,
      #f55f29 23.24%,
      #a916eb 48.27%,
      #590ffe 75.44%,
      #1dc6e8 101.05%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .gradentTexBottom {
    background: linear-gradient(
      236.96deg,
      #fdc221 13.69%,
      #f55f29 23.24%,
      #a916eb 48.27%,
      #590ffe 75.44%,
      #1dc6e8 101.05%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: MonumentBold;
  }
  .shadowBorder {
    font-family: MonumentBold;
  }
  .faqGrediant {
    background: linear-gradient(236.96deg, #f55f29 13.69%, #fdc221 99.79%);
    border-radius: 50%;
    height: 39px;
    width: 39px;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .bigHeader {
    @apply text-[96.29px] leading-[122.5%] font-black text-white tablet:text-[48px] desktop1366:text-[62px] phone:text-[40px];
  }
  .heading {
    @apply text-[37px] leading-[48px] font-extrabold font-['MonumentBold'] tablet:text-[32px];
  }
  .text48 {
    @apply text-[48px] leading-[67px] font-extrabold font-['MonumentBold'] tablet:text-[32px] tablet:leading-[40.5px];
  }
  .text25 {
    @apply text-[25px] font-normal;
  }
  .text37 {
    @apply text-[37px] leading-[48px] tablet:text-[32px];
  }
  .buttonText {
    @apply text-[24px] font-semibold text-center h-[70px] px-[45px] buttonGredean text-white mt-[50px] tablet:px-[20px] tablet:text-[20px];
  }
  .gradientText {
    background: linear-gradient(236.96deg, #f55f29 13.69%, #fdc221 99.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .weKnowGradent {
    background: linear-gradient(236.96deg, #f55f29 13.69%, #fdc221 99.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
.swiper-pagination-bullet-active {
  width: 24px !important;
  border-radius: 0px !important;
  background: linear-gradient(
    236.96deg,
    #f55f29 13.69%,
    #fdc221 99.79%
  ) !important;
  height: 6px !important;
}
span.swiper-pagination-bullet {
  width: 24px;
  border-radius: 0px;
  height: 2px;
  background: #676d71;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  align-items: center;
  /* bottom: -30px; */
}
.swiper-wrapper {
  padding-bottom: 60px;
}
.swiper-button-prev {
  position: absolute;
  bottom: 0 !important;
  top: unset !important;
  right: 160px !important;
  left: auto !important;
}
.swiper-button-next {
  position: absolute;
  bottom: 0 !important;
  top: unset !important;
  right: 30px !important;
}
.swiper-button-next:after {
  content: url("/assets/images/arrow-rght.svg") !important;
}
.swiper-button-prev.swiper-button-disabled:after {
  content: url("/assets/images/arrow-left.svg") !important;
}
.swiper-button-prev:after {
  content: url("/assets/images/arro-left-active.svg") !important;
}
.swiper-button-next.swiper-button-disabled:after {
  content: url("/assets/images/arrow-right-inactive.svg") !important;
}
.testimonialBorderGrediant {
  width: 63.9px;
  height: 63.9px;
  border: double 4px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    linear-gradient(
      to right,
      #fdc221 13.69%,
      #f55f29 23.24%,
      #a916eb 48.27%,
      #590ffe 75.44%,
      #1dc6e8 101.05%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.testimonialBorder {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #f55f29, #fdc221) 1;
}
.aboutBackground {
  background: linear-gradient(
    236.96deg,
    #fdc221 13.69%,
    #f55f29 23.24%,
    #a916eb 48.27%,
    #590ffe 75.44%,
    #1dc6e8 101.05%
  );
  border-radius: 20px;
  height: 900px;
}
.aboutBackground::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transform: rotate(4.63deg);
  z-index: -1;
  border-width: 2px;
  border-style: solid;
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  background: linear-gradient(45deg, #f55f29, #fdc221);
  border-image: linear-gradient(to right, #f55f29, #fdc221) 1;
}
.buttonGredean {
  background: linear-gradient(
    106.38deg,
    #ff9127 18.11%,
    #f45356 52.23%,
    #090d48 104.85%
  );
  border: 2px solid #000000;
  border-radius: 7px;
}
.CTAtextGradean {
  background: linear-gradient(236.96deg, #f55f29 13.69%, #fdc221 99.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.togetherToday {
  background: linear-gradient(
    236.96deg,
    #fdc221 13.69%,
    #f55f29 23.24%,
    #a916eb 48.27%,
    #590ffe 75.44%,
    #1dc6e8 101.05%
  );
  border-radius: 20px;
}
.chainDockSection {
  position: relative;
  z-index: 1;
}
.chainDockSection:before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    236.96deg,
    #fdc221 13.69%,
    #f55f29 23.24%,
    #a916eb 48.27%,
    #590ffe 75.44%,
    #1dc6e8 101.05%
  );
  opacity: 0.1;
  border-radius: 20px;
  position: absolute;
  background-size: cover;
  z-index: -1;
}
.instagramPopup {
  background: #020c13;
  z-index: 1;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
}
.instagramPopup:before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    236.96deg,
    #fdc221 13.69%,
    #f55f29 23.24%,
    #a916eb 48.27%,
    #590ffe 75.44%,
    #1dc6e8 101.05%
  );
  opacity: 0.1;
  border-radius: 20px;
  position: absolute;
  background-size: cover;
  z-index: 3;
}
.optionBG {
  background: linear-gradient(
    236.96deg,
    #fdc221 13.69%,
    #f55f29 23.24%,
    #a916eb 48.27%,
    #590ffe 75.44%,
    #1dc6e8 101.05%
  );
}
.footerBg {
  background: linear-gradient(236.96deg, #f55f29 13.69%, #fdc221 99.79%);
}
.tabActiveBg {
  background: linear-gradient(236.96deg, #f55f29 13.69%, #fdc221 99.79%);
}
.fireUpSectionBg {
  background: linear-gradient(236.96deg, #f55f29 13.69%, #fdc221 99.79%);
}
.contactButton {
  background-color: #020c13;
}
.weknow strong {
  @apply text37 font-bold text-white tablet:text-center;
}
.weknow p {
  @apply text-[25px] text-white font-[400] tablet:text-center mb-[30px];
}
.promiseSection strong {
  @apply text37 font-bold text-white;
}
.promiseSection p {
  @apply text-[25px] text-white font-[400] mb-[30px];
}
.marketDirector strong {
  @apply text-[25px] text-white font-bold mb-[45px] tablet:text-center;
}
.marketDirector p {
  @apply text-[25px] text-white font-normal mb-[45px] tablet:text-center;
}
.container {
  @apply max-w-[1736px] mx-auto px-5 desktop1680:px-[50px] tablet:px-[15px];
}
.containerSmall {
  @apply max-w-[1615px] mx-auto px-5 desktop1680:px-[50px] tablet:px-[15px];
}
.blogContainer {
  @apply max-w-[1204px] mx-auto px-5 desktop1680:px-[50px] tablet:px-[15px];
}

@screen desktop1440 {
  .aboutBackground::after {
    content: none;
  }
}
@screen tablet {
  .instagram-slider .swiper-button-prev.swiper-button-disabled {
    display: none;
  }
  .instagram-slider .swiper-button-next {
    display: none;
  }
  .instagram-slider .swiper-button-prev {
    display: none;
  }
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    justify-content: center;
  }
  .testimonialBorderGrediant {
    height: 65px;
  }
  .aboutBackground {
    border-radius: 0px;
    height: auto;
  }
  .togetherToday {
    border-radius: 0px;
  }
}

@screen phone {
  .testimonialBorderGrediant {
    height: 45px;
  }
}
